<h1>Mechanic: <%= @mechanic.name %></h1><br>
<p>Years of Experience: <%= @mechanic.years_of_experience %></p>
<p>Current rides they're working on:</p>
<% @mechanic.rides.each do |ride| %>
  <%= ride.name %><br>
<% end %>

<section class="form">
  <%= form_tag "/mechanics/#{@mechanic.id}/rides/new" do %>
    <%= label_tag :id %>
    <%= text_field_tag :id %><br>
    <%= submit_tag "Submit" %>
  <% end %>
</section>
